#donations {
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B28A000C,endColorstr=#B2B51119);
	zoom: 1;
}

#content-wrap {
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66494A4C,endColorstr=#66494A4C);
	zoom: 1;	
}